/*Dashboard*/

.main {
  display: flex;
}

.dashboard-container {
  align-items: center;
  width: auto;
  margin-left: 290px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-left: 7px;
}

.welcome-message {
  width: 100%;
  margin-top: 10px;
  padding: 40px;
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  background-image: url("C:\sk\projects\mind theraphy\frontend\application\src\assets\program_page_title.png");
  background-size: cover;
  background-position: center;
}

.sidebar {
  position: fixed;
  color: aliceblue;
  width: 260px;
  flex-shrink: 0;
  background: linear-gradient(to bottom, #1e1d1d, #444343df);
  height: 100%;
  overflow: auto;
}

.sidebar-item {
  padding: 1em;
  display: flex;
  flex-direction: column;
  transition: background-color 0.15s;
}

.sidebar-title {
  cursor: pointer;
  transition: transform 0.3s;
  display: block;
  padding: 0.5em;
}

.sidebar-title:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

/* Added styles for dashboard-container sections */

.dashboard-container section {
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-program-message {
  padding: 20px;
  width: fit-content;
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#depression-section,
#anxiety-section,
#stress-section {
  margin-bottom: 30px;
}

.program-link:hover {
  transform: scale(1.05);
}

.program-link {
  background-color: #535353; /* Update to the button background color you want */
  color: white; /* Change the button font color to white */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.task-section:hover {
  /* border: 3px outset #3d3c3c6f; */
  background-color: #76777c1f;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.task-section {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 5px;
}

.task-title {
  font-size: larger;
  font-weight: 500;
}

.task-description {
  padding: 0.25em;
  height: 0;
  overflow: hidden;
}

.task-description.expanded {
  height: auto;
}
